html
	head
		title Sisizathu Training Course 
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet")
		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="css/icomoon.css")
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/magnific-popup.css")
		link(rel="stylesheet" href="css/flexslider.css")
		link(rel="stylesheet" href="css/owl.carousel.min.css")
		link(rel="stylesheet" href="css/owl.theme.default.min.css")
		link(rel="stylesheet" href="fonts/flaticon/font/flaticon.css")
		link(rel="stylesheet" href="css/style.css")
		script(src="js/modernizr-2.6.2.min.js")
		style.
			.btn{border-radius:0%}
	body
		style.
			a {color:white;cursor:hand}
		div(id="page")
			nav(class="colorlib-nav" role="navigation")
				div(class="upper-menu")
					div(class="container")
						div(class="row")
							div(class="col-xs-4")
								p(style="color:white") Sisizathu Training Student Dashboard
							
							div(class="col-xs-6 col-md-push-2 text-right")
								p(style="color:white") <a onclick="history.go(-2)">Back</a>| <a>Write Exam</a> | <a href="/">Sign Out</a> 
			div(class="col-lg-12" style="padding-top:15px; text-align:left")
				div(style="padding-left:13%;padding-top:5%")
					p(class="bg-success" style="padding-left:5px") #{name} registered on #{date_registered}.
					p
						span(class="btn-danger" style="padding-left:5px") #{course}  
					p Please do NOTE that this documents are subject to updates, should you require an earlier version contact us.
				table(class="table")
					thead
						tr <th>#</th> <th></th> <th></th> <th></th> <th></th> <th></th> 

					tbody
						//tr.
							//<td class="active">1</td> 
							//<td>Learner Workbook</td>
							//<td> <a href="" class="btn-sm btn-warning" .disabled>View</a> &nbsp; <a href="/getdoc?doc=" class="btn-sm btn-success">Download</a></td>
						tr.
							<td class="active">1</td> 
							<td>Assessment guide</td>
							<td> <a class="btn-sm btn-warning">View</a> &nbsp; <a href="/getdoc?doc=documents/120379-Assessmentguide.doc" class="btn-sm btn-success">Download</a></td>
						tr.
							<td class="active">2</td> 
							<td>Learner Guide</td>
							<td> <a class="btn-sm btn-warning">View</a> &nbsp; <a href="/getdoc?doc=documents/120379-LearnerGuide.doc" class="btn-sm btn-success">Download</a></td>
						tr.
							<td class="active">3</td> 
							<td>Summative assessment</td>
							<td> <a class="btn-sm btn-warning">View</a> &nbsp; <a href="/getdoc?doc=documents/120379-SummativeAssessment.doc" class="btn-sm btn-success">Download</a></td>
			div(class="col-md-12 text-center")
				small(class="block" style="color:silver")
					br
					br
					br
					&copy; Copyright &copy;<script>document.write(new Date().getFullYear());if (window.location.href.indexOf("?") >  -1){history.pushState("",document.title, window.location.pathname);}</script> All rights reserved Sisizathu Training | AlexiusLC web development.