doctype html
html(lang="en")
	head
		title Sisizathu Training Contact Details
		link(href='/css/bootstrap.min.css', rel ='stylesheet')
		link(href='/css/demo.css', rel ='stylesheet')
		link(href='/css/mystyle.css', rel ='stylesheet')
	body
		nav(class="nav navbar-fixed-top" role="navigation" style="background:white;padding-left:7%" )
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav")
						span(class="sr-only") Toggle Navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
				div(class="collapse navbar-collapse" id="nav")
					ul(class="nav navbar-nav" style="float:left")
						li
							a(href="/") Home
						li
							a(href="/about") About
						li
							a(href="/events") Events
						li
							a(href="/learn") E-Learning
		#mainContentDiv.col-lg-12(style="color:#007777; padding-left:10%")
			br
			br
			br
			.col-lg-4
				br
				br
				br
				br
				br
				img(src="images/Picture1.png" style="text-align:center;%;max-width:240px; max-height:240px;")
				br
				br
				pre(style="background:#23527c;color:white").
					Cell   : 072 839 9259
					Address: 1359 Lediga St,
						 Kgotsong, Bothaville,
						 9660
					Email: sisizathu@training.com
			.col-lg-8
				pre(style="width:100%;height:550px")
					iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14170.073880529464!2d26.65453!3d-27.39075!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x205f8ab8dfd226fb!2sSisizathu%20Training!5e0!3m2!1sen!2sus!4v1567244485179!5m2!1sen!2sus" width="600" height="550" frameborder="0" style="border:0;" allowfullscreen="")
		.col-lg-12(style="padding-left:30%;color:gray")
			p.
				</br>
				&copy; Sisizathu Training 2019 | <span style="color:orange">Alexcious</span><span style="color:skyblue">LC</span> WEb Dev. 2019
				
