doctype html
html(lang="en")
	head
		link(href='/css/bootstrap.min.css', rel ='stylesheet')
		link(href='/css/demo.css', rel ='stylesheet')
		link(href='/css/mystyle.css', rel ='stylesheet')
		script(src='/js/jquery-3.4.1.min.js')
		script(src='/js/bootstrap.min.js')
		title.
			Sisizathu Training 		
	body(style="padding-left:10%;padding-top:10%;padding-right:10%;")
		nav(class="nav navbar-fixed-top" role="navigation" style="background:white;padding-left:30%" )
			br
			br
			br
			br
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav")
						span(class="sr-only") Toggle Navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand") Sisizathu Training
				div(class="collapse navbar-collapse" id="nav")
					ul(class="nav navbar-nav" style="float:left")
						li
							a(href="/about" style="background:#23527c;color:white") About
						li
							a(href="/events" style="background:#23527c;color:white") Events
						li
							a(href="/learn" style="background:#23527c;color:white") E-Learning
						li
							a(href="/contact" style="background:#23527c;color:white") Contact Us
		.col-lg-12(style="text-align:center")
			br
			br
			br
			br
			div(class="col-lg-12")
				img(src="images/picture1.png")
			br
			br
			p We promote skills development and advocate employability
			a(class="btn btn-info" href="/register") Sign Up
		.col-lg-12(style="padding-left:30%;color:gray; font-size:8pt")
			p.
				</br></br></br>
				&copy; Sisizathu Training 2019 | <span style="color:orange">Alexcious</span><span style="color:skyblue">LC</span> WEb Dev. 2019
			