doctype html
html(lang="en")
	head
		title Sisizathu Training E-Learning
		link(href='/css/bootstrap.min.css', rel ='stylesheet')
		link(href='/css/demo.css', rel ='stylesheet')
		link(href='/css/mystyle.css', rel ='stylesheet')
	body
		nav(class="nav navbar-fixed-top" role="navigation" style="background:white;padding-left:7%" )
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav")
						span(class="sr-only") Toggle Navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
				div(class="collapse navbar-collapse" id="nav")
					ul(class="nav navbar-nav" style="float:left")
						li
							a(href="/") Home
						li
							a(href="/events") Events
						li
							a(href="/learn") E-Learning
						li
							a(href="/contact") Contact Us
		#mainContentDiv.col-lg-12(style="color:#007777; padding-left:10%")
			br
			br
			br
			br
			img(src="images/picture1.png" style="max-width:240px; max-height:240px;")
			br
			br
			br
			p Register or Sign In to Use our E-Learning Platform
			a(href="/register" class="btn btn-info" style="font-size:15pt") Register
			&nbsp;&nbsp;&nbsp;
			a(href="/signin" class="btn btn-info" style="font-size:15pt; background:#007777; border:transparent ") Sign In
		.col-lg-12(style="padding-left:30%; color:gray")
			p.
				</br></br></br></br></br></br>
				&copy; Sisizathu Training 2019 | <span style="color:orange">Alexcious</span><span style="color:skyblue">LC</span> WEb Dev. 2019
