doctype html
html(lang="en")
	head
		title Sisizathu Training Signin
		link(href='/css/bootstrap.min.css', rel ='stylesheet')
		link(href='/css/demo.css', rel ='stylesheet')
		link(href='/css/mystyle.css', rel ='stylesheet')
	body
		nav(class="nav navbar-fixed-top" role="navigation" style="background:white;padding-left:7%" )
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav")
						span(class="sr-only") Toggle Navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
				div(class="collapse navbar-collapse" id="nav")
					ul(class="nav navbar-nav" style="float:left")
						li
							a(href="/") Home
						li
							a(href="/about") Events
						li
							a(href="/events") E-Learning
						li
							a(href="/contact") Contact Us
		#mainContentDiv.col-lg-12(style="color:#007777; padding-left:10%; padding-right:60%")
			br
			br
			br
			br
			img(src="images/picture1.png" style="max-width:240px; max-height:240px;")
			br
			br
			br
			p Please provide your Login details to Sign In.
			form(action="/signup" method="post")
				label Email:
				input(class="form-control" type="text")
				label Password:
				input(class="form-control" type="password")
				br
				#input(type="submit" value="Sign In") 
				a(href="/user") Sign In
				&nbsp;&nbsp;&nbsp;&nbsp;
				button(type="button" onclick="history.go(-1)") Cancel 
		.col-lg-12(style="padding-left:30%;color:gray")
			p.
				</br></br></br>
				&copy; Sisizathu Training 2019 | <span style="color:orange">Alexcious</span><span style="color:skyblue">LC</span> WEb Dev. 2019
			
